<!-- Main -->
<section id="main">
	<div class="container">
		<div id="content">

			<!-- Post -->
			<article class="box post">
				<span id="hideMobile" class="image featured" style="height: 65.32lvh;">
					<div style="display:inline-flex;">
					<img src="~/images/Prishtina.jpg" style="height: 64lvh; width: 49lvw;" alt="" />
					<img src="~/images/Mypic2.jpg" style="height: 64lvh; width: 24.85lvw;" />
					</div>
				</span>
				<h3>General Information</h3>
				<p>
					I was born in Prishina, the capital of Kosova, where I have lived for all my life until now.
					From a very young age I have always been very invested in the world of techonolgy, mostly from
					my interest in videogames. As I grew up I realised I could do my job in front of my favorite
					place, my computer. So I started pursuing programming and Computer Sciences, I currently study Computer
					Science & Engineering in the University of Business and Technology in my city. I also work full-time
					at Global CT Digital Kosova. In my free time other than playing videogames, I like to expand my knowledge
					of programming as I have grown very passionate especially about Backend and Web programming, so I'm always
					trying to learn something new, wether that be a framework or just simply a new language for fun.
				</p>
				<p>
					
				</p>
				<h3>My Most Familiar Tech Stack</h3>
				<p>
					Currently I mostly use ASP.NET Core MVC to develop Web Apps in conjunction with Bootstrap templates, and many different JS libraries,
					I use a Database-First apprach using MSSQL and as an ORM I use Dapper. For the Frontend I also use the Kendo UI
					library for .NET Core which offers many HTML Helpers and Widgets that make it very easy to create anything that has to do with data managment.
				</p>
				<h3>Plans for the future</h3>
				<p>
					As for the future I'm very open to the possibilities that it may hold. Even if it includes relocating, as long as I expand on my knowledge and work.
					Seeing as I am close to graduating and have some work experience built up, I'm looking into possibilities to continue with Master's studies as well.
					I'll never turn down an opportunity to broaden my reach so feel free to approach me with any suggestion!
				</p>
			</article>

		</div>
	</div>
</section>
<style>
	@@media screen and (max-width: 990px) {
		#hideMobile{
			display: none;
		}
	}
</style>