<!-- Features -->
<section id="features">
	<div class="container">
		<header>
			<h2>Hello there, I am <strong>Art Ejupi</strong><br /> and this is my work!</h2>
		</header>
		<div class="row aln-center">
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
				<section>
					<a asp-area="" asp-action="ResearchPanel" asp-controller="Projects" style="height: 44.5lvh;" class="image featured"><img style="height: 42lvh;" src="~/images/ubo_logo.png" alt="" /></a>
					<header>
						<h3>UBO Research Platform</h3>
					</header>
					<p>
						A Web Application project for the UBO Consulting company based in my hometown of Prishtina, it includes a Content Managment System as well as a Frontend Panel for users.<br />
						<a asp-area="" asp-action="ResearchPanel" asp-controller="Projects">Click here for more details</a>.
					</p>
				</section>

			</div>
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
				<section>
					<a asp-area="" asp-action="Customs" asp-controller="Projects" class="image featured"><img src="~/images/dogana_logo.jpg" alt="" /></a>
					<header>
						<h3>Kosovo Customs CMS</h3>
					</header>
					<p>
						A Web Application Content Managment System for the Kosovo Government Customs used to publish news, reports and general information for the official Customs Website.<br />
						<a asp-area="" asp-action="Customs" asp-controller="Projects">Click here for more details</a>.
					</p>
				</section>

			</div>
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
				<section>
					<a href="https://github.com/Artej02" target="_blank" style="height: 44.5lvh;" class="image featured"><img style="height: 42lvh;" src="~/images/GitHub-Mark.png" alt="" /></a>
					<header>
						<h3>My Github Account</h3>
					</header>
					<p>
						This is my GitHub Account where you can see all my Repositories and contributions to different projects that aren't listed here, including this portfolio!<br />
						<a href="https://github.com/Artej02" target="_blank">Click here to visit my GitHub page</a>.
					</p>
				</section>

			</div>
			@*<div class="col-12">
				<ul class="actions">
					<li><a href="#" class="button icon solid fa-file">Tell Me More</a></li>
				</ul>
			</div>*@
		</div>
	</div>
</section>

<!-- Banner -->
<section id="banner">
	<div class="container">
		<p>
			The best performance improvement is the transition<br /> from the nonworking state to the working state<br /> -John J Osterhout
		</p>
	</div>
</section>