<!-- Main -->
<section id="main">
	<div class="container">
		<div id="content">

			<!-- Post -->
			<article class="box post">
				<header>
					<a href="https://88.99.173.113:9898" target="_blank">Link to the CMS here.</a> &nbsp; &nbsp; <a href="https://dogana.digitalkosovo.net" target="_blank">Link to the Frontend here.</a>
					<h2>
						Customs content managment system
					</h2>
				</header>
				<h3>Project Scope</h3>
				<p>
					This is a classic CMS (Content Managment System), which uses much of the same tech stack as UBO Research Tool, but is much simpler in essence, as it's main use is creating, updating and deleting
					content of the main Customs news site. The project is composed mostly of grids or tables, as well as single-row forms for updating single pages of information. In Global CT Kosova
					we have done many similar projects, so this wasn't a challenge of any kind, but still very fulfilling to make something helpful.
				</p>
				<h3>Screenshots and details</h3>

				<p>This is the Dashboard, where the customs official can see the stats throughout the year.</p>
				<span class="image featured"><img src="~/images/DoganaDashboard.PNG" alt="" /></span>
				
				<p>Here we have the main grid of the system, which stores all the news that either have been or are yet to be published. Most of the menu items are grids of this sort.
					I had to blur it for confidentiality's sake but you can see the structure of it, everything here is also translated in the three official languages.</p>
				<span class="image featured"><img src="~/images/NewsGrid.PNG" alt="" /></span>
				
				<p>
					This is part of the form to add a new Article, where you can also upload an image to go with it, all Create and Edit forms in this system are made as Pop-ups.
				</p>
				<span class="image featured"><img src="~/images/AddNews.PNG" alt="" /></span>
				
				<p>Here we have one of the exceptions to the grid format of managing data, where we see a preview of the page that will be shown, and a simple edit button that opens a window 
					to edit the picture and other content seen in the page. Users are also divided to roles and Departments in this project much like the other one, with different permissions to each.
</p>
				<span class="image featured"><img src="~/images/Mission.PNG" alt="" /></span>
				
			</article>

		</div>
	</div>
</section>