<!-- Main -->
<section id="main">
	<div class="container">
		<div id="content">

			<!-- Post -->
			<article class="box post">
				<header>
					<a href="http://88.99.173.113:8686" target="_blank">Link to the website here.</a>
					<h2>
						UBO Research tool
					</h2>
				</header>
				<h3>Project Scope</h3>
				<p>
					This project is a Research Tool used to make and get results of different Surveys. It is divided in two parts, a Portal project in which a user can log in,
					complete surveys and earn rewards. And an Admin project which is used by the company to create and manage surveys, users and a bunch of other features of the website,
					as well as see and export different statistics from its users. It is made entirely in ASP.NET Core and features many other libraries and extensions that make its features complete.
					It is fully authenticated and authorized for users, has Zoom and Facebook integration and is connected to an MSSQL database. Also fully translated in three languages: Albanian, English and Serbian.
				</p>
				<h3>Screenshots and details</h3>
				<p>This is the user's Dashboard, where they can see different stats and notifications that await them.</p>
				<span class="image featured"><img src="~/images/PanelDashboard.PNG" alt="" /></span>
				<p>This is only part of the Admin's Dashboard, with mostly just dynamic statistics about surveys and users.</p>
				<span class="image featured"><img src="~/images/UBODashboard.PNG" alt="" /></span>
<p>Here we have the general View of how a table of the Backend system looks, in this case the Roles, there is many more of these to manage content and users. <br /> 
					these are just a few of the features of the project that I have showcased to keep it shorter. As you can see in the navigation, it has a Discussions feature which are basically
	like group chats, but which are integrated with Zoom API so you can redirect users there, also has a Tickets system to handle complaints which has e-mail integration.
				</p>
				<span class="image featured"><img src="~/images/Grid.PNG" alt="" /></span>
				<p>
					And of course the main feature are the Surveys which have <strong>over 25</strong> types of questions that you can add to them as seen in the photo above. I have contributed
					to both sides of the project, but the biggest contributions were to the Backend side of things, especially features like the discussion forums, translation technology of the website
					through the use of a helper and handling things like Change Logs.
				</p>
				<span class="image featured"><img src="~/images/AddQuestion.PNG" alt="" /></span>
			</article>

		</div>
	</div>
</section>